/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
body {
    font-family: 'Play', sans-serif;
    color: #f5f5f5;
    min-width: 355px;
}
a:focus, button:focus {
    outline: none;
}
a {
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: #f5f5f5;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.background {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: url("../img/back.png");
    z-index: -1;
}

#hello-world ul {
    margin: 0;
}

#hello-world li {
    list-style: none;
}

.wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.scene {
    position: relative;
    overflow: hidden;
}

#hello-world img {
    position: absolute;
}

.l1 {top: -20%!important; left: -5%!important;}
.l2 {top: -8%!important; left: 40%!important;}
.l3 {top: -1%!important; left: 6% !important;}
.l4 {top: -2%!important; left: 10% !important;}
.l5 {top: -5%!important; left: 25% !important;}
.l6 {top: 1% !important; left: 8% !important;}
.l7 {top: -11%!important; left: 3%!important;}

#hi {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}

#hi figure img {
	position: fixed;
	top: 1.7rem;
    left: 1rem;
}

#hi h2 {
	position: absolute;
	bottom: 0.8em;
	margin: 0;
	padding-left: 2.5em;
	color: #feff96;
	font-size: 1.5em;
	text-transform: uppercase;
}

.info {
	position: fixed;
	bottom: 0;
	min-height: 17em;
	width: 15.5em;
	padding-bottom: 1.5em;
	background: rgba(148, 148, 177, 0.17);
	border-top-right-radius: 95%
}

.contact {
    position: fixed;
    top: 1.5em;
    right: 1em;
}
.contact i {
    position: relative;
    top: 13px;
    display: inline-block;
    margin-right: 1rem;
}
.contact a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #f5f5f5;
    margin-left: 0.5em;
}
.contact a:hover {
    text-decoration: underline;
    color: #5dacff;
}

button {
	position: fixed;
	bottom: 2em;
	right: 2.5em;
	width: 3em;
	height: 3em;
	margin-left: 1.5em;
	border-radius: 100%;
	border: 2px solid #603e76;
	background-color: rgba(52, 41, 95, 0.48);
}
.button-click {
	border-color: #33263b;
}
button i {
	color: #c46c21;
}

/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes earth-1 {
	0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-o-keyframes earth-1 {
	0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(180deg);
  }
}
@-ms-keyframes earth-1 {
	0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(180deg);
  }
}
@-moz-keyframes earth-1 {
	0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes earth-1 {
	0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes earth-2 {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-o-keyframes earth-2 {
    0% {
        -o-transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
    }
}
@-ms-keyframes earth-2 {
    0% {
        -ms-transform: rotate(180deg);
    }
    100% {
        -ms-transform: rotate(360deg);
    }
}
@-moz-keyframes earth-2 {
    0% {
        -moz-transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes earth-2 {
    0% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.stars {
    -webkit-animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
    -moz-animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
    -ms-animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
    -o-animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
    animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
}
@keyframes stars {
    0% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        transform: scale3d(1.25, 1.25, 1.25) rotate(-3deg);
    }
    100% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}
@-o-keyframes stars {
    0% {
        -o-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        -o-transform: scale3d(1.25, 1.25, 1.25) rotate(-3deg);
    }
    100% {
        -o-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}
@-ms-keyframes stars {
    0% {
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        -ms-transform: scale3d(1.25, 1.25, 1.25) rotate(-3deg);
    }
    100% {
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}
@-moz-keyframes stars {
    0% {
        -moz-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        -moz-transform: scale3d(1.25, 1.25, 1.25) rotate(-3deg);
    }
    100% {
        -moz-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}
@-webkit-keyframes stars {
    0% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        -webkit-transform: scale3d(1.25, 1.25, 1.25) rotate(-3deg);
    }
    100% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}

.wavy {
	-webkit-animation: wavy 10s 2s infinite alternate cubic-bezier(0.32,0,0.58,1);
	-moz-animation: wavy 10s 2s infinite alternate cubic-bezier(0.32,0,0.58,1);
	-ms-animation: wavy 10s 2s infinite alternate cubic-bezier(0.32,0,0.58,1);
	-o-animation: wavy 10s 2s infinite alternate cubic-bezier(0.32,0,0.58,1);
	animation: wavy 10s 2s infinite alternate cubic-bezier(0.32,0,0.58,1);
}
@keyframes wavy {
    0% {
        opacity: 1;
		transform: scale3d(1, 1, 1);
    }
    50% {
        opacity: 0.6;
		transform: scale3d(0.97, 0.94, 1.1);
    }
    100% {
        opacity: 1;
		transform: scale3d(1, 1, 1);
    }
}
@-o-keyframes wavy {
    0% {
        opacity: 1;
		-o-transform: scale3d(1, 1, 1);
    }
    50% {
        opacity: 0.6;
		-o-transform: scale3d(0.97, 0.94, 1.1);
    }
    100% {
        opacity: 1;
		-o-transform: scale3d(1, 1, 1);
    }
}
@-ms-keyframes wavy {
    0% {
        opacity: 1;
		-ms-transform: scale3d(1, 1, 1);
    }
    50% {
        opacity: 0.6;
		-ms-transform: scale3d(0.97, 0.94, 1.1);
    }
    100% {
        opacity: 1;
		-ms-transform: scale3d(1, 1, 1);
    }
}
@-moz-keyframes wavy {
    0% {
        opacity: 1;
		-moz-transform: scale3d(1, 1, 1);
    }
    50% {
        opacity: 0.6;
		-moz-transform: scale3d(0.97, 0.94, 1.1);
    }
    100% {
        opacity: 1;
		-moz-transform: scale3d(1, 1, 1);
    }
}
@-webkit-keyframes wavy {
    0% {
        opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
    }
    50% {
        opacity: 0.6;
		-webkit-transform: scale3d(0.97, 0.94, 1.1);
    }
    100% {
        opacity: 1;
		-webkit-transform: scale3d(1, 1, 1);
    }
}


.scally {
	-webkit-animation: scally 15s infinite ease;
	-moz-animation: scally 15s infinite ease;
	-ms-animation: scally 15s infinite ease;
	-o-animation: scally 15s infinite ease;
	animation: scally 15s infinite ease;
}
@keyframes scally {
  0% {
  transform: scale3d(1, 1, 1);
  }
  50% {
  transform: scale3d(1.15, 1.05, 1.3);
  }
  100% {
   transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes scally {
  0% {
   -o-transform: scale3d(1, 1, 1);
  }
  50% {
   -o-transform: scale3d(1.15, 1.05, 1.3);
  }
  100% {
   -o-transform: scale3d(1, 1, 1);
  }
}
@-ms-keyframes scally {
  0% {
   -ms-transform: scale3d(1, 1, 1);
  }
  50% {
   -ms-transform: scale3d(1.15, 1.05, 1.3);
  }
  100% {
   -ms-transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes scally {
  0% {
   -moz-transform: scale3d(1, 1, 1);
  }
  50% {
   -moz-transform: scale3d(1.15, 1.05, 1.3);
  }
  100% {
   -moz-transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes scally {
  0% {
   -webkit-transform: scale3d(1, 1, 1);
  }
  50% {
   -webkit-transform: scale3d(1.15, 1.05, 1.3);
  }
  100% {
   -webkit-transform: scale3d(1, 1, 1);
  }
}



.floaty {
	-webkit-animation: floaty 22s infinite 1s linear;
	-moz-animation: floaty 22s infinite 1s linear;
	-ms-animation: floaty 22s infinite 1s linear;
	-o-animation: floaty 22s infinite 1s linear;
	animation: floaty 22s infinite 1s linear;
}
.floaty-reverse {
	-webkit-animation: floaty 25s infinite 0.3s reverse;
	-moz-animation: floaty 25s infinite 0.3s reverse;
	-ms-animation: floaty 25s infinite 0.3s reverse;
	-o-animation: floaty 25s infinite 0.3s reverse;
	animation: floaty 25s infinite 0.3s reverse;
}
@keyframes floaty {
	0% {
    transform: rotateZ(0deg) translate3d(0,8%,0) rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg) translate3d(0,8%,0) rotateZ(-360deg);
  }
}
@-o-keyframes floaty {
	0% {
    -o-transform: rotateZ(0deg) translate3d(0,8%,0) rotateZ(0deg);
  }
  100% {
    -o-transform: rotateZ(360deg) translate3d(0,8%,0) rotateZ(-360deg);
  }
}
@-ms-keyframes floaty {
	0% {
    -ms-transform: rotateZ(0deg) translate3d(0,8%,0) rotateZ(0deg);
  }
  100% {
    -ms-transform: rotateZ(360deg) translate3d(0,8%,0) rotateZ(-360deg);
  }
}
@-moz-keyframes floaty {
	0% {
    -moz-transform: rotateZ(0deg) translate3d(0,8%,0) rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(360deg) translate3d(0,8%,0) rotateZ(-360deg);
  }
}
@-webkit-keyframes floaty {
	0% {
    -webkit-transform: rotateZ(0deg) translate3d(0,8%,0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0,8%,0) rotateZ(-360deg);
  }
}


.rotaty {
	-webkit-animation: rotaty 15s infinite 5s alternate cubic-bezier(0.32,0,0.8,1);
	-moz-animation: rotaty 15s infinite 5s alternate cubic-bezier(0.32,0,0.8,1);
	-ms-animation: rotaty 15s infinite 5s alternate cubic-bezier(0.32,0,0.8,1);
	-o-animation: rotaty 15s infinite 5s alternate cubic-bezier(0.32,0,0.8,1);
	animation: rotaty 15s infinite 5s alternate cubic-bezier(0.32,0,0.8,1);
}
@keyframes rotaty {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@-o-keyframes rotaty {
	0% {
		-o-transform: rotate(0deg);
	}
	50% {
		-o-transform: rotate(5deg);
	}
	100% {
		-o-transform: rotate(0deg);
	}
}
@-ms-keyframes rotaty {
	0% {
		-ms-transform: rotate(0deg);
	}
	50% {
		-ms-transform: rotate(5deg);
	}
	100% {
		-ms-transform: rotate(0deg);
	}
}
@-moz-keyframes rotaty {
	0% {
		-moz-transform: rotate(0deg);
	}
	50% {
		-moz-transform: rotate(5deg);
	}
	100% {
		-moz-transform: rotate(0deg);
	}
}
@-webkit-keyframes rotaty {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(5deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .info, button {display: none;}
    .contact {top: initial; bottom: 1.5em; right: initial; padding-left: 1em;}
}
@media only screen and (max-height: 360px) {
    .contact, .info, button {display: none;}
}
@media only screen and (max-height: 700px) and (orientation: portrait) {
    .info, button {display: none;}
}
@media only screen and (max-width: 700px) and (orientation: landscape) {
    .info, button {display: none;}
}


@media only screen and (max-width: 1400px) {
    .l1 {top: -20%!important; left: -15%!important;}
    .l2 {top: -30%!important; left: 40%!important;}
    .l3 {top: -5%!important; left: -5% !important;}
    .l4 {top: -5%!important; left: 3% !important;}
    .l5 {top: -3%!important; left: 10% !important;}
    .l6 {top: -12% !important; left: -12% !important;}
    .l7 {top: 0%!important; left: 0%!important;}
}

@media only screen and (max-width: 1200px) {
    .l1 {top: -20%!important; left: -25%!important;}
    .l2 {top: -8%!important; left: 30%!important;}
    .l3 {top: -1%!important; left: -3% !important;}
    .l4 {top: -5%!important; left: 0% !important;}
    .l5 {top: -5%!important; left: 5% !important;}
    .l6 {top: 1% !important; left: -17% !important;}
    .l7 {top: 1%!important; left: -10%!important;}
}
@media only screen and (max-width: 940px) {
    .l1 {top: -15%!important; left: -60%!important;}
    .l2 {top: 5%!important; left: 25%!important;}
    .l3 {top: -10%!important; left: 5% !important;}
    .l4 {top: -13%!important; left: -12% !important;}
    .l5 {top: -5%!important; left: -38% !important;}
    .l6 {top: 15% !important; left: -50% !important;}
    .l7 {top: 5%!important; left: -30%!important;}
}
@media only screen and (max-width: 650px) {
    .l1 {top: -15%!important; left: -60%!important;}
    .l2 {top: 5%!important; left: 25%!important;}
    .l3 {top: -10%!important; left: -10% !important;}
    .l4 {top: -13%!important; left: -40% !important;}
    .l5 {top: -5%!important; left: -80% !important;}
}
@media only screen and (max-width: 400px) {
    .l1 {top: -35%!important; left: -165%!important;}
    .l2 {top: -30%!important; left: -40%!important;}
    .l3 {top: -10%!important; left: -5% !important;}
    .l4 {top: -20%!important; left: -88% !important;}
    .l5 {top: -10%!important; left: -150% !important;}
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
