/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
body {
    font-family: 'Play', sans-serif;
    color: #f5f5f5;
    min-width: 355px;
}
a:focus {
    outline: none;
}
a {
    text-decoration: none;
    font-family: 'Play', sans-serif;
    color: #f5f5f5;
    cursor: pointer;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* =========================================================================
   Animations
   ========================================================================= */

.stars {
    -webkit-animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
    -moz-animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
    -ms-animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
    -o-animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
    animation: stars 30s 0s infinite alternate cubic-bezier(0.32,0,0.58,1);
}
@keyframes stars {
    0% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        transform: scale3d(1.25, 1.25, 1.25) rotate(3deg);
    }
    100% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}
@-o-keyframes stars {
    0% {
        -o-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        -o-transform: scale3d(1.25, 1.25, 1.25) rotate(3deg);
    }
    100% {
        -o-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}
@-ms-keyframes stars {
    0% {
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        -ms-transform: scale3d(1.25, 1.25, 1.25) rotate(3deg);
    }
    100% {
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}
@-moz-keyframes stars {
    0% {
        -moz-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        -moz-transform: scale3d(1.25, 1.25, 1.25) rotate(3deg);
    }
    100% {
        -moz-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}
@-webkit-keyframes stars {
    0% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
    50% {
        -webkit-transform: scale3d(1.25, 1.25, 1.25) rotate(3deg);
    }
    100% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate(0deg);
    }
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.background {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: url("../img/works/back.png");
    z-index: -1;
}

.padding {
	padding-top: 4em;
    opacity: 0.5;
}

figure {
	width: 12.5em;
}

figure h3 {
    display: none;
    position: absolute;
    width: 10em;
    top: 0;
	padding-left: 1.2em;
	color: #feff96;
	font-size: 1.2em;
	text-transform: uppercase;
}
figure img {
    position: absolute;
    top: 0;
    border-bottom-right-radius: 95%;
    z-index: 999;
    opacity: 0.3;
}

#top {
    margin-top: -3em;
    padding: 1.5em;
}

.contact {
    position: absolute;
    top: 1.5em;
    right: 1em;
    background-color: rgba(25, 25, 25, 0.9);
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 999;
}
.contact i {
    display: inline-block;
    color: #fff9e6;
    margin-right: 1rem;
}
.contact a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    color: #feff96;
    margin-left: 0.5em;
}
.contact a:hover {
    text-decoration: underline;
    color: #5dacff;
}

.opening {
    margin: 3em auto 0;
    text-align: justify;
    width: 45%;
    line-height: 1.7;
    letter-spacing: 2px;
    background-color: rgba(225, 245, 245, 0.15);
    border-radius: 0.5rem;
    padding: 0.1rem 2rem 1rem;
}
.opening h2 {
    text-align: center;
    font-size: 2rem;
    color: #feff96;
}
.opening h3 {
    color: #89bdff;
}

.works {
    text-align: center;
    margin: 5em auto 0;
    width: 90%;
}

.entry {
    display: inline-block;
    vertical-align: top;
    height: 25em;
    width: 60em;
    border-radius: 0.5em;
    margin: 1em auto 5em;
    padding: 3rem 2rem;
}
.entry:hover {
    background-color: rgba(78, 157, 255, 0.25);
}

.mockup, .laptop, .mobile, .preview, .description {
    position: relative;
}

.preview, .description {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    height: 25em;
    top: 0;
}
.preview {width: 69%; overflow: hidden;}
.description {width: 30%;}

.mockup {
    width: auto;
    height: 33em;
    left: -68px;
    top: -46px;
    z-index: 2;
}
.laptop {
    top: -474px;
    left: 46px;
    width: 370px;
    z-index: 1;
}
.mobile {
    top: -398px;
    left: 46px;
    width: 98px;
    z-index: 2;
}

.description h1{
    color: #fdffa1;
}

.description p {
    font-size: 1.5em;
}

footer a {
    display: block;
    text-align: center;
}
footer a:hover {
    background: rgba(255, 255, 255, 0.07);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 1400px) {
    figure a, figure h3 {display: none;}
    figure {width: 100%;}
    .opening {
        margin: 3rem 0 0 0;
        width: 70%;
        text-align: left;
        line-height: 1.8;
        letter-spacing: 1px;
    }
    .opening h2 {
        margin: 0;
    }
}
@media only screen and (max-width: 1370px) {
    .opening {width: 65%;}
}
@media only screen and (max-width: 1250px) {
    #top {
        margin-top: -1em;
        padding: 1em;
    }
    .opening {
        margin: 1.5rem 0 0 0;
        width: 60%;
    }
}
@media only screen and (max-width: 1200px) {
    .opening {
        margin: 1.5rem 0 0 0;
    }
    .entry {margin-left: -2em;}
}
@media only screen and (max-width: 1080px) {
    .background {
        background: url("../img/works/backSmall.png");
    }
    .opening {
        text-align: left;
        margin: 2rem auto 0;
        width: 80%;
    }
    .entry {
        margin: 1em auto;
        width: auto;
        height: 17em;
    }
    .mockup, .mobile {display: none;}
    .laptop {
        top: 0em;
        left: 0;
        width: 24em;
    }
    .description, .preview {height: auto;}
    .description h1 {font-size: 1.5em;}
    .description p, .opening h3 {font-size: 1.2em;}
    .opening h2 {font-size: 1.7rem;}

    .contact {
        position: relative;
        display: block;
        top: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        padding: 1rem 0;
    }
    .contact a {
        display: inline-block;
        margin-left: 2rem;
    }
    .contact i {
        display: inline-block;
        margin-right: 0.5rem;
        font-size: 2em;
    }
}
@media only screen and (max-width: 875px) {
    .contact {
        margin: 0 auto;
    }
    .contact a {
        font-size: 1rem;
    }
    .contact i {
        font-size: 2em;
    }
    .entry {
        margin: 1.5em auto;
        width: auto;
        height: auto;
    }
    .entry:hover {
        background: none;
    }
    .preview, .description {
        display: block;
        width: 100%;
        height: auto;
    }
    .description p {width: 72%; margin: 1em auto;}
    
}
@media only screen and (max-width: 655px) {
    .opening h3 {text-align: left;}
}
@media only screen and (max-width: 540px) {
    .description h1 {font-size: 1.3em;}
    .description p {font-size: 1.1em;}
    .opening {margin-top: 4rem;}
    .opening h3 {font-size: 1em;}
    .opening h2 {font-size: 1.5rem;}

}
@media only screen and (max-width: 490px) {
    .opening {margin-top: 2rem;}
    .opening h3 {font-size: 0.95em; text-align: center;}
    .opening h2 {font-size: 1.1rem;}
    .contact {padding: 1rem 3rem;}
    .entry {
        padding: 1.5rem 0;
        margin: 0 auto 5em;
    }
    .laptop {
        width: 18em;
    }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
